@font-face {
  font-family: 'fontello';
  /* src: url('../fonts/fontello/fontello.eot?76257630'); */
   src: /*url('../fonts/fontello/fontello.eot?76257630#iefix') format('embedded-opentype'), */
       /* url('../fonts/fontello/fontello.woff2?76257630') format('woff2'), */
       url('../fonts/fontello/fontello.woff?76257630') format('woff'),
       url('../fonts/fontello/fontello.ttf?76257630') format('truetype'),
       url('../fonts/fontello/fontello.svg?76257630#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?76257630#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-alarm:before { content: '\e802'; } /* '' */
.icon-angle-down-circle:before { content: '\e805'; } /* '' */
.icon-angle-left-circle:before { content: '\e806'; } /* '' */
.icon-angle-right-circle:before { content: '\e807'; } /* '' */
.icon-angle-up:before { content: '\e808'; } /* '' */
.icon-angle-up-circle:before { content: '\e809'; } /* '' */
.icon-bottom-arrow:before { content: '\e812'; } /* '' */
.icon-call:before { content: '\e817'; } /* '' */
.icon-check:before { content: '\e81c'; } /* '' */
.icon-close-circle:before { content: '\e81e'; } /* '' */
.icon-close:before { content: '\e845'; } /* '' */
.icon-joy:before { content: '\e855'; } /* '' */
.icon-less:before { content: '\e85b'; } /* '' */
.icon-light:before { content: '\e85c'; } /* '' */
.icon-like:before { content: '\e85d'; } /* '' */
.icon-angle-down:before { content: '\e863'; } /* '' */
.icon-link:before { content: '\e865'; } /* '' */
.icon-mail:before { content: '\e86c'; } /* '' */
.icon-map-marker:before { content: '\e872'; } /* '' */
.icon-mouse:before { content: '\e879'; } /* '' */
.icon-paint:before { content: '\e884'; } /* '' */
.icon-plug:before { content: '\e891'; } /* '' */
.icon-plus:before { content: '\e893'; } /* '' */
.icon-power:before { content: '\e895'; } /* '' */
.icon-tools:before { content: '\e8b5'; } /* '' */
.icon-up-arrow:before { content: '\e8b9'; } /* '' */