.contactus {
  background-color: #f3f3f3;
  @include ptb-adaptive(80, 100);
  // .contactus__title
  &__title {
    text-align: center;
  }

  // .contactus__subtitle

  &__subtitle {
  }

  // .contactus__row
  &__row {
    margin: 0 -10px;
    @include mt-adaptive(50);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (max-width: 940px) {
      justify-content: center;
    }
  }

  // .contactus__item
  &__item {
  }
}
.container-contactus {
  max-width: 970px;
  padding: 0 15px;
  margin: 0 auto;
}

.item-contactus {
  // .item-contactus__wrapper
  &__wrapper {
    padding: 10px;
  }

  // .item-contactus__body
  &__body {
    width: 287px;
    height: 272px;
  }

  // .item-contactus__header
  &__header {
    display: flex;
    text-align: center;
    height: 145px;
    span {
      position: relative;
      display: block;
      font-size: 50px;
      color: #fff;
      top: 50%;
      transform: translateY(-50%);
      transition: all 0.2s ease;
    }
    a {
      min-height: 100%;
      min-width: 100%;
    }
  }
  &__header {
    &:hover {
      span {
        transform: translateY(-55%);
      }
    }
  }
  &__header.email {
    background: url(../img/contactus/email_bg.jpg) center center/cover no-repeat;
  }
  &__header.office {
    background: url(../img/contactus/office_bg.jpg) center center/cover
      no-repeat;
  }
  &__header.phone {
    background: url(../img/contactus/phone_bg.jpg) center center/cover no-repeat;
  }

  // .item-contactus__footer
  &__footer {
    padding-top: 30px;
    background-color: #fff;
    height: 127px;
    color: #81868e;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.7px;
  }

  // .item-contactus__title
  &__title {
    color: #000;
  }

  // .item-contactus__notes
  &__notes {
    margin-top: 25px;
    span {
      display: block;
    }
  }
}
