.lovedus {
  @include ptb-adaptive(57, 57);
  transition: all 0.7s ease;
  background: #000000 url(../img/lovedus/main_lovedus_lay.png) center
    center/cover no-repeat;
  // .lovedus__description
  &__description {
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0.8px;
  }

  // .lovedus__btn
  &__btn {
    margin-left: auto;
    margin-right: auto;
    @include mt-adaptive(30);
    display: block;
    width: 132px;
  }
}
.lovedus:hover {
  transition: all 0.7s ease;
  background: #000000 url(../img/lovedus/add_lovedus_lay.png) center
    center/cover no-repeat;
}
