.map {
position: relative;
max-height: 496px;
overflow: hidden;
    // .map__overlay
    &__overlay {
        top: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.85);
        transition: all 0.5s ease;
    }
    &__overlay.off {
        top: 100%;
    }
    
    // .map__title-body
    &__title-body {
        position: absolute;
        top: 50%;
        left: 50%;
        max-width: 210px;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: space-between;
        transition: all 0.5s ease;
            @media (max-width: 420px) {
                flex-wrap: wrap;
                justify-content: center;
                max-width: 230px;
                text-align: center;
            }
    }
    &__title-body.off {
        top: -25px;
    }
    
    // .map__title
    &__title {
        color: #ffffff;
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 0.8px;
        min-width: 180px;
    }
    
    // .map__btn
    &__btn {
        flex: 0 0 18px;
        margin-left: 15px;
        display: flex;
        padding: 3px 0 0 0.8px;
        height: 18px;
        background-color: #19bd9a;
        border-radius: 100%;
        justify-content: center;
        align-items: flex-start;
        img {
            max-width: 80%;
            animation: arrow-small 2s ease infinite;
        }
            @media (max-width: 420px) {
                margin-top: 10px;            
            }

    }
    iframe {
        width: 100%;    
    }
}
    