.price {
  @include ptb-adaptive(80, 100);
  background-color: #f3f3f3;
  // .price__title
  &__title {
    text-align: center;
  }

  // .price__subtitle
  &__subtitle {
  }

  // .price__row
  &__row {
    margin: 0 -10px 0 -10px;
    @include mt-adaptive(57);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media (max-width: 780px) {
      justify-content: center;
    }
  }

  // .price__card-wrapper
  &__card-wrapper {
    padding: 10px 10px 10px 10px;
  }

  // .price__card
  &__card {
  }
}
.card {
  display: flex;
  min-height: 100%;
  width: 234px;
  overflow: hidden;

  &__card-body {
    transition: all 0.5s ease;
    position: relative;
    display: flex;
    min-height: 100%;
    width: 200%;
    left: 0;
    &:hover {
      left: -100%;
    }
  }
  // .card__front
  &__front {
    display: flex;
    flex-direction: column;
    min-height: 300px;
    width: 234px;
  }

  // .card__front-header
  &__front-header {
    background-color: #19bd9a;
    text-align: center;
    padding-top: 25px;
    // width: 234px;
    height: 67px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    // flex: 0 0;
  }

  // .card__front-descr
  &__front-descr {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1 auto;
    // width: 234px;
    color: #1fbba6;
    text-align: center;
    font-family: "Source Sans Pro";
    font-size: 42px;
    font-weight: 900;
    span {
      display: block;
      color: #81868e;
      font-family: "Open Sans";
      font-size: 20px;
      font-weight: 400;
      letter-spacing: 1px;
    }
  }

  // .card__rear
  &__rear {
    display: flex;
    flex-direction: column;
    min-height: 300px;
    width: 234px;
    background-color: #fff;
  }

  // .card__rear-descr
  &__rear-descr {
    padding: 35px;
    flex: 1 1 auto;
    li {
      margin-top: 12px;
      color: #81868e;
      text-align: left;
      letter-spacing: 0.7px;
    }
  }

  // .card__rear-footer
  &__rear-footer {
    text-align: center;
    div {
      padding-top: 25px;
      height: 67px;
      background-color: #19bd9a;
    }
    a {
      color: #fff;
    }
  }
}
