.submitnow {
  @include ptb-adaptive(70, 130);
  background-color: #fff;
  // .submitnow__form
  &__form {
    margin: 0 -10px;
    input,
    textarea {
      border: 1px solid #d8dce0;
      display: block;
      padding: 13px 20px;
    }
  }
  &__input-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media (max-width: 930px) {
      justify-content: center;
      max-width: 500px;
      margin: 0 auto;
    }
  }
  &__name,
  &__email,
  &__subject {
    margin: 10px;
    width: 287px;
    flex: 0 1 287px;
    height: 41px;
  }

  // .submitnow__name
  &__name {
  }

  // .submitnow__email
  &__email {
  }

  // .submitnow__subject
  &__subject {
  }

  // .submitnow__text
  &__text {
    margin: 20px 10px 0px;
    width: calc(100% - 20px);
  }
  &__btn {
    display: block;
    margin: 20px 10px 0px;
    width: calc(100% - 20px);
    height: 53px;
    background-color: #19bd9a;
    color: #fff;
  }
}
.container-submitnow {
  max-width: 970px;
  padding: 0 15px;
  margin: 0 auto;
}
